/*FONTS---------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: BasisGrotesquePro-Bold;
    src: url("fonts/BasisGrotesquePro-Bold-Web.ttf");
}
@font-face {
    font-family: BasisGrotesquePro-Light;
    src: url("fonts/BasisGrotesquePro-Light-Web.ttf");
}
@font-face {
    font-family: BasisGrotesquePro-Regular;
    src: url("fonts/BasisGrotesquePro-Regular-Web.ttf");
}
@font-face {
    font-family: BasisGrotesquePro-Medium;
    src: url("fonts/BasisGrotesquePro-Medium-Web.ttf");
}

.ht-100{
    height: 100vh;
    min-height: 25rem;
}

.login-form-container {
    background-color: #4A32BC;
    background-image: url(../img/background-login.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.card.login-form {
    border-radius: 1rem;
    margin: 0 auto;
    padding: 0.8rem;
    background-color: #F8F6EC;
}

.login-container {
    width: 25.5rem;
}

.login-form .card-body {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
}

.card-header:first-child {
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
    color: #34296B;
}

.btn-login {
    min-width: 7.5rem;
    background-color: #5E59FD;
    color: #fff;
    width: 100%;
}

.btn-login:hover, .btn-register:hover, .btn-reset-password:hover {
    background-color: #302D80;
}

.btn-login:active, .btn-register:active, .btn-reset-password:active {
    background-color: #302D80;
    opacity: 0.8;
}


.border-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding: 0;
    margin-top: 3rem;
    background-color: #F8F6EC;
}

.login-container .card-header {
    background-color: #F8F6EC;
}

.border-input:focus {
	background-color: #F8F3DF;
}

@media (max-height: 800px) {
    .border-input {
        /*margin-bottom: 1.5rem;*/
        margin-top: 1.5rem;
    }
}

span.error {
    color: red;
    font-weight: bold;
}

span.success {
    color: green;
    font-weight: bold;
}

.btn.save:hover, .btn.exit:hover {
    background-color: #302D80;
    opacity: 0.8;
    color: white;
}
.btn.save:disabled:hover, .btn.exit:disabled:hover {
    background-color: rgba(239, 239, 239, 0.3);
}


.btn.save:active, .btn.exit:active {
    background-color: #302D80;
    opacity: 1;
    color: white;
    border: 1px solid #302D80;
}

.btn.save:focus, .btn.exit:focus {
    box-shadow: 0 0 0 0.2rem rgba(60, 51, 179, .25);
}


