/*FONTS---------------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: BasisGrotesquePro-Bold;
    src: url("fonts/BasisGrotesquePro-Bold-Web.woff2");
}
@font-face {
    font-family: BasisGrotesquePro-Light;
    src: url("fonts/BasisGrotesquePro-Light-Web.ttf");
}
@font-face {
    font-family: BasisGrotesquePro-Regular;
    src: url("fonts/BasisGrotesquePro-Regular-Web.woff2");
}
@font-face {
    font-family: BasisGrotesquePro-Medium;
    src: url("fonts/BasisGrotesquePro-Medium-Web.woff2");
}

html, body {
    background-color: #fff;
    height: 100vh;
    margin: 0;
    font-family: BasisGrotesquePro-Regular, Helvetica, sans-serif;
}

/* body */
nav.navbar {
    font: 1rem BasisGrotesquePro-Bold;
    height: 6rem;
    padding-left: 2rem;
}

.shadow-sm {
    box-shadow: 0 .5rem .35rem rgba(0,0,0,.075) !important;
    z-index: 500;
}

a.fa:hover {
    text-decoration: none;
    opacity: 0.7;
}

.col.item.sorting-list-arrows .fa  {
    color: #1D17CC;
}

.register-table .page-item.active .page-link {
    background-color: #4433B3;
    border-color: #4433B3;
}

.register-table .page-link, .app-header .navbar-light .navbar-brand {
    color: #4433B3;
}

@media (max-height: 800px) {
    nav.navbar {
        height: 5rem;
    }
}